body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  margin: 0%;
  padding: 0.5em;
  text-align: center;
  user-select: none;
}

p {
  font-size: 1.2em;
}

.menu {
  vertical-align: middle;
  margin-left: 0.5em;
}

.preContent {
  background-color: rgb(77, 226, 226);
}

.content {
  border-left: 3px solid black;
  margin-left: 8.5em;
  padding-left: 2em;
  min-height: 100vh;
  padding-bottom: 1em;
  background-color: whitesmoke;
}

.menu_table {
  list-style-type: none;
  margin: 0;
  padding: 0.5%;
  margin-top: 6.5em;;
  float: left;
}

.menu_choice {
  margin-top: 30%;
  text-align: left;
  font-size: 1.4em;
}

a {
  text-decoration:none;
  color: black;
  user-select: none;
}

a:hover {
    text-decoration: underline;
}

table {
  margin-top: 1em;
  padding: 0.8em;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

table tr ~ tr{
  border-top: 1px solid black;
}

table .table_select:hover {
  background-color: rgb(77, 226, 226);
  cursor: pointer;
}

.table_part {
  padding-bottom: 0.5em;
}

table th:last-child, table td:last-child {
  border-right: 2px solid black;
}

table tr td, table thead th {
  padding: 1em;
}

table thead th ~ th, table tr td ~ td {
  border-left: 1px solid black;
}

input {
  background-color: rgba(172, 172, 172, 0.11);
  width: 30em;
  height: 2.5em;
  border: rgba(167, 167, 167, 0.788) solid 0.1em;
  text-align: left;
}

table .table_add {
  padding: 1em;
}

.page_buttons .swap_button {
  float: right;
  margin-right: 1em;
  height: 2.5em;
  font-size: 1.2em;
}

textarea {
  resize: none;
  width: 30em;
  height: 10em;
}

.table_select textarea {
  cursor: pointer;
}

.smallPad {
  padding: 0.47em;
}

.click_info {
  color: rgba(100, 100, 200, 1);
  text-decoration: underline;
}

.click_info:hover {
  cursor: pointer;
  padding: 0.5em;
}