body {
  padding: 0; 
  margin: 0;
}

h1 {
  margin: 0%;
  padding: 0.5em;
  text-align: center;
}

.menu {
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 2em;
  float: left;
  width: 7em;
  height: 100%;
  position: relative;
  border-right: 1px solid black;
}

.menu_table {
  list-style-type: none;
  margin: 0;
  padding: 0.5%;
  margin-top: 5%;
  position: fixed;
}

.menu_choice {
  margin-top: 30%;
  text-align: left;
  font-size: 1.5em;
}

table {
  margin-top: 1em;
  padding: 0.8em;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

table tr ~ tr{
  border-top: 1px solid black;
}

table .table_select:hover {
  background-color: rgb(135, 255, 79);
}

.table_part {
  padding-bottom: 0.5em;
}

table th:last-child {
  border-right: 2px solid black;
}

table td:last-child {
  border-right: 2px solid black;
}

table tr td {
  padding: 1em;
}

table thead th {
  padding: 1em;
}

table thead th ~ th {
  border-left: 1px solid black;
}

table tr td ~ td {
  border-left: 1px solid black;
}

input {
  background-color: rgba(233, 231, 231, 0.11);
  width: 30em;
  height: 2.5em;
  border: rgba(167, 167, 167, 0.788) solid 0.1em;
  text-align: left;
}

table .table_add {
  padding: 1em;
}