input {
  width: 15em;
}

h1 {
  text-align: left;
}

p {
  margin-top: 0em;
}

.swap_button {
  display: block;
  margin-top: 0.5em;
  margin-right: 0.5em;
  width: 5.5em;
  height: 2em;
  font-size: 12.5pt;
  text-align: center;
}

.block {
  display: block;
}

.block .edit_table tr * {
  text-align: left;
}

.edit_table {
  border: none;
}

table th:last-child, table td:last-child {
  border-right: none;
}

.hidden {
  display: none;
}

.moerow table td input[type=button] {
  padding: 0;
  margin: 0;
}

.moerow table td {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  vertical-align: middle;
}
.moerow table {
  border: none;
  padding: 0;
  margin: 0;
}
